@import url("//hello.myfonts.net/count/3ad6ca");

@tailwind base;

@font-face {
  font-family: 'BrandonTextWeb-Regular';
  src: url('../fonts/3AD6CA_0_0.eot');
  src: 
    url('../fonts/3AD6CA_0_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/3AD6CA_0_0.woff2') format('woff2'),
    url('../fonts/3AD6CA_0_0.woff') format('woff'),
    url('../fonts/3AD6CA_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'BrandonTextWeb-Medium';
  src: url('../fonts/3AD6CA_1_0.eot');
  src: 
    url('../fonts/3AD6CA_1_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/3AD6CA_1_0.woff2') format('woff2'),
    url('../fonts/3AD6CA_1_0.woff') format('woff'),
    url('../fonts/3AD6CA_1_0.ttf') format('truetype');
}

/* * {
  border: 1px solid red;
} */

body {
  @apply font-body;
}

a, button, .instapic {
  transition: all .3s;
}

a.link {
  @apply text-middlepink;
}

a.link:hover {
  @apply underline;
}

/* TYPOGRAPHY */

p {
  @apply text-xl text-brown;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  @apply leading-tight text-brown;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-2xl;
}

/* HEADER */

.header-link {
  @apply flex items-center justify-center rounded-full cursor-pointer w-14 h-14 bg-pastel;
}

.header-icon {
  @apply text-2xl text-brown;
}


/* HERO */

.hero-tel-link {
  @apply inline-block px-6 pt-2 mb-4 text-3xl bg-white rounded-full text-brown font-branbold;
}

.hero-tel-link:hover {
  @apply bg-middlepink;
}

.hero-link {
  @apply flex items-center justify-center inline-block mb-4 text-xl text-white;
  transition: background .2s;
}
.hero-link:hover {
  @apply text-white rounded bg-middlepink;
}

/* SERVICES */

.service-card {
  @apply justify-center px-4 mx-3 my-10 text-center w-80;
}

.service-title {
  @apply px-4 mb-4 text-2xl;
}

.service-link {
  @apply inline-block w-auto px-6 pt-3 pb-2 text-xl border-2 rounded-full border-pink text-pink;
}

.service-link:hover {
  @apply text-white bg-pink;
}

@screen lg {
  .service-card {
    @apply w-72;
  }
}

@screen xl {
  .service-card {
    @apply w-88;
  }
  .service-title {
    @apply text-3xl;
  }
}


/* CONTACT */

.coor-icon {
  @apply inline mb-1 mr-1;
}

.coor-link {
  transition: background .2s;
}

.coor-link:hover {
  @apply rounded bg-middlepink;
}

/* FOOTER */

.footer-link {
  transition: background .2s;
}

.footer-link:hover {
  @apply rounded bg-middlepink;
}

.footer-icon {
  @apply inline mb-1 mr-1;
}

.footer-picto {
  @apply text-2xl text-brown;
}

.picto-link {
  @apply flex items-center justify-center rounded-full cursor-pointer w-14 h-14 bg-pastel;
}

/* FORMS */

label {
  @apply block text-left;
}

input, textarea {
  @apply w-full px-2 py-1 bg-white border rounded border-middlepink;
}

.form-block {
  @apply mb-4 text-xl;
}

@screen sm {
  .form-block {
    @apply flex-row;
  }
}

@screen md {
  .badge:last-child {
    @apply ml-2;
  }
}

@tailwind components;
@tailwind utilities;