@import url("//hello.myfonts.net/count/3ad6ca");

@tailwind base;

@font-face {
  font-family: 'BrandonTextWeb-Regular';
  src: url('../fonts/3AD6CA_0_0.eot');
  src: 
    url('../fonts/3AD6CA_0_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/3AD6CA_0_0.woff2') format('woff2'),
    url('../fonts/3AD6CA_0_0.woff') format('woff'),
    url('../fonts/3AD6CA_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'BrandonTextWeb-Medium';
  src: url('../fonts/3AD6CA_1_0.eot');
  src: 
    url('../fonts/3AD6CA_1_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/3AD6CA_1_0.woff2') format('woff2'),
    url('../fonts/3AD6CA_1_0.woff') format('woff'),
    url('../fonts/3AD6CA_1_0.ttf') format('truetype');
}

/* * {
  border: 1px solid red;
} */

body {
  @apply font-body;
}

a, button, .instapic {
  transition: all .3s;
}

a.link {
  @apply text-middlepink;
}

a.link:hover {
  @apply underline;
}

/* TYPOGRAPHY */

p {
  @apply text-xl text-brown;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  @apply leading-tight text-brown;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-2xl;
}

@screen lg {
  h2 {
    @apply text-4.5xl;
  }
}


/* HEADER */

.picto-link {
  @apply flex items-center justify-center rounded-full cursor-pointer w-14 h-14 bg-pastel;
}

.header-icon {
  @apply text-2xl text-brown;
}


/* HERO */

.hero-tel-link {
  @apply inline-block px-6 pt-2 mb-4 text-3xl bg-white rounded-full text-brown font-branbold;
}

.hero-tel-link:hover {
  @apply bg-middlepink;
}

.hero-link {
  @apply flex items-center justify-center inline-block pt-2 pb-1 mb-4 text-xl text-white;
  transition: background .2s;
}
.hero-link:hover {
  @apply text-white rounded bg-middlepink;
}

/* SERVICES */

.service-card {
  @apply justify-center px-5 my-10 text-center w-72;
}

.service-title {
  @apply px-4 mb-4 text-2xl;
}

.service-link {
  @apply inline-block w-auto px-6 pt-3 pb-2 text-xl border-2 rounded-full border-pink text-pink;
}

.service-link:hover {
  @apply text-white bg-pink;
}

@screen md {
  .service-card {
    @apply mx-0 w-80;
  }
}

@screen lg {
  .service-card {
    @apply mx-3;
  }
}

@screen xl {
  .service-card {
    @apply w-88;
  }
  .service-title {
    @apply text-3xl;
  }
}

/* SLIDE */

.slide {
  @apply p-4 text-base text-left outline-none;
}

@screen md {
  .slide-text {
    @apply text-2xl;
  }
}
.slide-text {
  @apply mb-4;
}

/* CONTACT */

.coor-title {
  @apply mb-4 uppercase font-branbold;
}
.coor-icon {
  @apply inline mb-1 mr-1;
}

.bg-link {
  transition: background .2s;
  @apply inline-block pt-2 pb-1 cursor-pointer;
}

.bg-link:hover {
  @apply rounded bg-middlepink;
}

/* FOOTER */

.footer-icon {
  @apply inline mb-1 mr-1;
}

.picto-text {
  @apply text-2xl text-brown;
}

.picto-link {
  @apply flex items-center justify-center rounded-full cursor-pointer w-14 h-14 bg-pastel;
}

.picto-link:hover {
  @apply bg-pink;
}

.picto-link:hover .picto-text {
  @apply text-white;
}

/* FORMS */

label {
  @apply block text-left;
}

input, textarea {
  @apply w-full px-2 py-1 bg-white border rounded border-middlepink;
}

.form-block {
  @apply mb-4 text-xl;
}

@screen sm {
  .form-block {
    @apply flex-row;
  }
}

@screen md {
  .badge:last-child {
    @apply ml-2;
  }
}

@tailwind components;
@tailwind utilities;